.btn {
    background-color: blue;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 3s ease, transform 2s ease-in-out;
}

.btn:hover {
    background-color: green;
    transform: scale(1.1); /* slightly increase size on hover*/
}

.box{
    background: green;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;    
}

.box:hover{
    background: blue;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.image-container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 2s ease, box-shadow 1s;
}

.image-container img:hover{
    transform: scale(1.2);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.ball{
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce{
    0%, 100% { top: 0; }
    50% { top: 200px; }
}

.stage{
    min-width: 600px;
    height: 200px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 20px auto;
    position: relative;
}

.stage:hover .ball-two {
    animation: slide 2s infinite ease-in-out alternate;
}

.ball-two{
    background: orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

@keyframes slide {
    0% { left: 0; top: 0; }
    50% { left: 240px; top: 100px; }
    100% { left:490px; top: 0; }
}

.heart{
    width:100px;
    height: 100px;
    background: red;
    position: relative; 
    transform: rotate(45deg);
    animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after{
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;     
    position: absolute;
}

.heart::before{
    left: -50px;
}

.heart::after{
    top: -50px;
}

@keyframes heartbeat {
    0%, 100% { transform: scale(1) rotate(45deg); }
    50% { transform: scale(1.3) rotate(45deg); }
}
